.integration {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .integration__text {
        color: #939393;
        font-size: 14px;
    }

    .integration__content {
        min-height: 600px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.dummy {
    height: 200px;
    width: 100%;
    background-color: #00b1b3;
}

.mon-place {
    width: 100%;
}
