.integration {

    .integration__text {
        color: #939393;
        font-size: 14px;
    }

    .integration__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.dummy {
    height: 200px;
    width: 100%;
    background-color: #00b1b3;
}

.mon-place {
    width: 100%;
}
