.shared-image .img-wrapper {
    position: relative;
}

.shared-image .rate-footer {
    position: absolute;
    bottom: 5px;
    right: 5px
}

.img-caption {
    display: block;
    font-style: italic;
    box-sizing: border-box;
    padding-bottom: 15px;
    font-size: 16px;
    text-align: center;
    float: none;
    margin: auto;
    color: #999;
}

img.lazy {
    background: #f7f7f7;
}

img.lazy.not-loaded {
    background: transparent url(/img/loader.gif) no-repeat 50% 50%;
}