.shared-image .img-wrapper {
    position: relative;
}

.shared-image .rate-footer {
    position: absolute;
    bottom: 5px;
    right: 5px
}

.find-similar {
    position: absolute;
    top: 15px;
    right: 5px;

    cursor: pointer;

    a {
        padding: 15px 10px 10px 10px;
        background-color: rgba(255, 255, 255, 0.63);

        &:hover {
            background-color: #0c51bf;

            svg {
                fill: white;
            }
        }
    }

}

.img-caption {
    display: block;
    font-style: italic;
    box-sizing: border-box;
    padding-bottom: 15px;
    font-size: 16px;
    text-align: center;
    float: none;
    margin: auto;
    color: #999;
}

img.lazy {
    background: #f7f7f7;
}

img.lazy.not-loaded {
    background: transparent url(/build/img/loader.gif) no-repeat 50% 50%;
}

.fullscreen-image {
    .fullscreen-image__inner {
        width: 100%;
        height: 0;
        position: relative;
    }
}
