.detail-art-page {
    display: flex;

    .detail-art-page__sidebar {
        flex: 0 0 300px;

        @media only screen and (max-width: 990px) {
            display: none;
        }
    }

    .detail-art-page__content {
        flex: 1 1;
        margin-right: 10px;

        @media only screen and (max-width: 990px) {
            margin-right: 0;
        }
    }
}
