.content {
    @media screen and (max-width: 768px) {
        padding: 0 15px;
    }
}

.form-group {
    margin-bottom: 15px;
}

.text-uppercase {
    text-transform: uppercase;
}

.d-inline {
    display: inline-block;
}

@media (max-width: 700px) {
    .mobile-no-padding {
        padding: 0px !important;
    }
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

*,*:focus,*:hover {
    outline: none;
}
