www/public/build
www/public/sitemaps
www/public/content

www/node_modules
www/vendor

www/bootstrap/cache/*
!www/bootstrap/cache/.gitignore

www/storage/logs/*
!www/storage/logs/.gitignore

www/storage/framework/*
!www/storage/framework/.gitignore
!www/storage/framework/cache/.gitignore
!www/storage/framework/cache/data/.gitignore
!www/storage/framework/sessions/.gitignore
!www/storage/framework/views/.gitignore