XDEBUG_REMOTE_HOST=192.168.227.1

SUBNET_IP=192.168.227.0
SUBNET_MASK=28

USER_NAME=user
USER_ID=1000
USER_GROUP_NAME=user
USER_GROUP_ID=1000

NPM_TOKEN=token
COMPOSER_TOKEN=token

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123456