.footer {
    background-color: #377af2;
    color: white;
    min-height: 100px;

    .footer__delimiter {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, .1);
    }

    .footer__line {

        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 18px;
            background-image: url('/build/img/line-bg.svg');
            background-size: 5px;
        }
    }

    .footer__slogan {
        padding-top: 20px;
        text-align: center;
    }
}
