.search-form {
    display: flex;

    .search-form__input {
        background: #3F4151;
        color: #fff;
        font-size: 10pt;
        float: left;
        padding-left: 15px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

        flex: 1 1;
        height: 40px;
    }

    .search-form__btn {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid #3F4151;
        width: 50px;
        opacity: 1;
        font-size: 10pt;
        transition: all .55s ease;
        color: #4f5b66;
        background: #232833;
    }

    svg {
        fill: white;
    }
}
