.footer {
    background-color: #377af2;
    color: white;
    min-height: 100px;

    .footer__delimiter {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, .1);
    }

    .footer__line {

        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 18px;
            background-image: url('/build/img/line-bg.svg');
            background-size: 5px;
        }
    }

    .footer__slogan {
        padding-top: 20px;
        text-align: center;
    }
}

.footer-nav {
    display: flex;
    padding: 20px 0;

    @include media-breakpoint-down(sm) {
        flex-wrap: wrap;
        padding: 20px 10px;
    }

    .footer-nav__column {
        flex: 0 0 25%;

        @include media-breakpoint-down(sm) {
            flex: 0 0 50%;
        }

        @media screen and (max-width: 450px) {
           flex: 1 1 100%;
        }
    }

    .footer-nav__category {
        text-transform: uppercase;
        font-weight: 700;
    }

    .footer-nav__link {
        color: white;
    }

    .footer-nav__list {

        padding-left: 10px;
    }
}

.footer-end-block {

    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
        flex-wrap: wrap;
    }
}

.lang-switcher {

    display: flex;

    .lang-switcher__text {
        padding-right: 20px;
    }

    .lang-switcher__option {
        width: 32px;
        height: 32px;
        opacity: 0.5;
        transition: all .5s;
        margin: auto 3px;
        user-select: none;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }

    .lang-switcher__option-active {
        transition: all .5s;
        opacity: 1 !important;
    }
}
