.page__inner {
    display: flex;
    flex-direction: column;

    .page__content {
        padding-top: 20px;
        flex: 1 1 auto;
        min-height: 500px;
    }
}

.page-layout {
    display: flex;

    .page-layout__content {
        flex: 1 1;
    }

    .page-layout__share {
        flex: 0 0 50px;
        width: 50px;

        padding-left: 10px;

        @media only screen and (max-width: 1300px) {
            display: none;
        }
    }
}
.container {
    width: 100%;
    //position: relative;
    margin-right: auto;
    margin-left: auto;

    @media only screen and (min-width: 576px) {
        max-width: 540px;
    }

    @media only screen and (min-width: 768px) {
        max-width: 720px;
    }

    @media only screen and (min-width: 992px) {
        max-width: 960px;
    }

    @media only screen and (min-width: 1200px) {
        max-width: 1140px;
    }
}
