footer {
    background-color: #377af2;
    color: white;
    min-height: 100px;
}

footer .footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .slogan {
    padding-top: 20px;
    text-transform: uppercase;
}

footer .app-name {
    text-transform: uppercase;
}

footer .footer-line:before {
    content: "";
    display: block;
    width: 100%;
    height: 18px;
    background-image: url('/img/line-bg.svg');
    background-size: 5px;
}