.shared-image {
    position: relative;
}

.shared-image .rate-footer {
    position: absolute;
    bottom: 5px;
    right: 5px
}

.img-caption {
    display: block;
    font-style: italic;
    box-sizing: border-box;
    padding: 15px 0 15px;
    font-size: 16px;
    text-align: center;
    float: none;
    margin: auto;
    color: #999;
}