/.env

/public/build/
/public/content/
/public/sitemaps/

/resources/static/arts/

/node_modules
/vendor

/storage/debugbar/

#laravel cache
^bootstrap/cache/(?!\.gitignore).+$
bootstrap/cache/
^storage/logs/(?!\.gitignore).+$
storage/logs/
^storage/app/(?!\.gitignore).+$
storage/app/
^storage/framework/views/(?!\.gitignore).+$
storage/framework/views
^storage/framework/sessions/(?!\.gitignore).+$
storage/framework/sessions
^storage/framework/cache/(?!\.gitignore).+$
storage/framework/cache
