# type of database. Run with -dbhelp for details
schemaspy.t=mysql
# database properties: host, port number, name user, password
schemaspy.host=172.17.0.1
schemaspy.port=3306
schemaspy.db=drawitbook.com
schemaspy.u=root
schemaspy.p=root
# db scheme for which generate diagrams
schemaspy.s=drawitbook.com