.index-page {
    display: flex;
    align-items: center;

    .index-page__content {

    }

    .index-page__img {
        flex: 0 0 300px;

        @media screen and (max-width: 990px) {
            display: none;
        }
    }

    #tagContainer {
        height: 450px;
    }
}
