.header {
    $navbarBackgroundColor: #ffffff;
    $navbarHamburgerColor: rgba(0,0,0,.5);;

    background-color: $navbarBackgroundColor;
    padding: 5px 0;
    position: relative;

    border-bottom: 1px solid #d5dddf;

    &.header--fixed {
        position: fixed;
        z-index: 1002;
        width: 100%;
        top: 0;
    }

    &.header--animated {
        animation-duration: 0.3s;
        animation-fill-mode: both;
    }

    &.header--fade-in-down {
        animation-name: fadeInDown;
    }

    .header__hamburger-icon {
        background: $navbarHamburgerColor;

        &:before, &:after {
            background: $navbarHamburgerColor;
        }
    }

    .hamburger__icon--open {
        background: transparent;
    }

    .header__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .header__toggle {
        display: none;
        margin-right: 50px;

        @media screen and (max-width: 768px) {
            display: block;
            margin-right: 0;
        }
    }

    .header__menu {
        top: -100%;
        display: block;
        background-color: white;
        z-index: 1001;
        overflow: auto;

        @media screen and (max-width: 768px) {
            position: fixed;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('/content/arts/90/0c/900c946f21c1b7a6b93b2a7e0802d249.gif') no-repeat left;
            background-size: cover;
        }

        &.open {
            top: 63px;
            display: block;

            @media screen and (max-width: 768px) {
                height: 100vh;
                padding-bottom: 80px;
            }
        }
    }

    .header__link {
        color: $navbarHamburgerColor;
        background-color: $navbarBackgroundColor;
        font-weight: bold;
        font-size: 18px;

        @media screen and (max-width: 768px) {
            border-top: transparent;
            border-left: 3px solid transparent;
            background-color: white;
        }

        &:hover {
            color: rgba(0,0,0,.7);
        }
    }

    .header__search {
        flex: 1 0 50%;
        margin-right: 30px;

        @media screen and (max-width: 990px) {
            margin-right: 10px;
            flex-basis: 40%;
        }
    }

    .header__logo {
        margin-right: 30px;
        display: flex;

        @media screen and (max-width: 768px) {
            display: none;
        }

        @media screen and (max-width: 990px) {
            margin-right: 10px;
        }
    }

    .header__logo-img {
        height: 35px;
    }

}

.body--lock-scroll {
    @media screen and (max-width: 768px) {
        overflow: hidden;
    }
}
