.search-form {
    display: flex;

    .search-form__input {
        background: #fff;
        color: #000;
        font-size: 10pt;
        float: left;
        padding-left: 15px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

        flex: 1 1;
        height: 40px;

        border: 1px solid #ced4da;
    }

    .search-form__btn {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid #17a2b8;
        width: 50px;
        opacity: 1;
        font-size: 10pt;
        transition: all .55s ease;
        background-color: transparent;
        color: #17a2b8;

        &:hover {
            color: white;
            background-color: #17a2b8;

            svg {
                fill: white;
            }
        }
    }

    svg {
        fill: #17a2b8;
    }

}
